<table class="table is-striped is-hoverable">
    <tr>
        <th>Completada</th>
        <th>Título</th>
        <th>Fecha límite</th>
        <th>Prioridad</th>
        <th>Urgente</th>
    </tr>
{% for task in tasks %}
    <tr>
        <td>
            {% if task.is_complete %}
                Completada
            {% else %}
            <a href="{% url 'completar' pk=task.pk %}" class="button is-warning">
                Completar
            </a>
            {% endif %}
        </td>
        <td>
            <a href='/tareas/{{ task.id }}/'>
            {% if forloop.first %}
                {{ task.title|capfirst|add:' ' }}
            {% else %}
                {{ task.title }}
            {% endif %}
            </a>
        </td>
        <td>
            {% if task.due_date %}
                {{ task.due_date }}
            {% endif %}
        </td>
        <td>
            {{ task.get_priority_display }}
        </td>
        {% if task.urgent %}
        <td class="urgent-task">Sí</td>
        {% else %}
        <td class="not-urgent-task">No</td>
        {% endif %}
        <td>
            <a href="{% url 'edit_task' pk=task.pk %}" role='button'
                class='button is-primary'>
                Editar
            </a>
        </td>
    </tr>
{% endfor %}
</table>